main{
    border:4px solid black;
    /* border-radius: 5%; */
    /* width: 50%; */
    /* %,vw,vh,px,em(element),rem(root element) >> refer note book */

    width:50vw;
}
section{
    border:4px dotted green;
    /* border-radius: 5%; */
    /* width:70vw; */
    height: auto;
}