div{
    border:15px solid greenyellow;
    /* padding:45px 35px 23px 15px; */           
    margin:20px;
    padding-left:0px;
    margin:23px 21px 15px 10px;
    width:250px;
    height:250px;
}
*{
    margin-left:0px;
    margin-right:0px;
    box-sizing:border-box;
}